fastapi
uvicorn[standard]
httpx
aio-pika
alembic

langchain==0.0.286
openai

pydantic
pydantic-settings
python-dotenv
ujson

boto3
boto3-stubs[secretsmanager,s3,dynamodb]
pymysql
psycopg2-binary
types-PyMySQL

python-multipart
passlib[bcrypt]
python-jose[cryptography]


pytest
pytest-asyncio
pytest-dotenv
autoflake
flake8
black
isort
mypy
loguru
