fastapi
uvicorn[standard]
httpx
aio-pika

langchain
openai

pydantic
pydantic-settings
python-dotenv
ujson

boto3
boto3-stubs[secretsmanager,s3,dynamodb]
sqlalchemy[mypy]
pymysql
psycopg2-binary
types-PyMySQL

pytest
black
isort
mypy
loguru
